# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jetbrains
.idea/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake-build-debug/
cmake-build-release/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
imgui.ini

# Debugging information
/s_engine.cap
/traces/

# include assets
!/assets
*.json
underwater_bonanza
.DS_Store
*.jpg
*.bmp
*.png
*.cmake
build/vendor/assimp/include/assimp/config.h
build/vendor/glfw/src/glfw3.pc
*.frag
*.vert
*.mp3
*.h
*.pc
vendor/assimp
.vs/
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/vendor/
out/build/x64-Release/.ninja_deps
out/build/x64-Release/.ninja_log
out/build/x64-Release/build.ninja
out/build/x64-Release/
